* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}

body {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header-container,
.hero-container,
.footer-container {
  background-color: #1f2937;
}

.header,
.hero,
.info,
.quote,
.sign-up,
.footer {
  width: 1200px;
}

.hero-container,
.info-container,
.sign-up-container,
.quote-container {
  flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header ul li a,
.footer {
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
}