/* Resets */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}


/* Whole page structure */

body {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header-container,
.hero-container,
.footer-container {
  background-color: #1f2937;
}

.header,
.hero,
.info,
.quote,
.sign-up,
.footer {
  width: 1000px;
}

.hero-container,
.info-container,
.sign-up-container,
.quote-container {
  flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.info-container {
  align-items: flex-start;
}


/* Styles */

.header ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header ul li a,
.footer,
.hero p,
.hero-right-side {
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

button {
  background-color: #3882f6;
  padding: 4px 32px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.hero button {
  border: none;
}

.sign-up button {
  border: 2px solid white;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-right-side {
  background-color: #777;
}

.info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info p {
  font-size: 18px;
  color: #777;
}

.card-photo {
  border-radius: 16px;
  border: 4px solid #3882f6;
  width: 100%;
  height: 160px;
}


/* Position inner elements within each section */


/* Header and footer */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
}


/* Hero */

.hero {
  display: flex;
  gap: 48px;
  margin: 64px 16px;
}

.hero-left-side {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  flex: 0 1 500px;
}

.hero-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 600px;
}


/* Info */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 64px 16px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.card {
  flex: 0 1 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}